$black: #000000;

// WHITE
$white: #ffffff;

// RED
$red: #ff0000;

// YELLOW
$yellow: #ffd740;

// GRAY
$gray-dark: #454545;
$gray-light: #BABABA;
$gray-light-translucent: rgba(186,186,186, 0.5);
$gray-translucent: rgba(136, 136, 136, 0.2);
